<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="example-spacer"></span>

  <mat-form-field
    appearance="outline"
    *ngIf="searchInputDisplay == true ? true : false"
  >
    <mat-label>Search Task</mat-label>
    <input
      matInput
      autofocus
      placeholder="Search Task"
      [(ngModel)]="searchKeywords"
      (keydown.enter)="searchTaskFromTasks()"
    />
    <mat-icon matSuffix (click)="openSearchInput()" style="cursor: pointer">
      close</mat-icon
    >
  </mat-form-field>

  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    (click)="openSearchInput()"
    *ngIf="searchInputDisplay ? false : true"
  >
    <mat-icon>search</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-card>
  <div class="container-fluid">
    <app-task-input (onEnter)="createTask($event)"> </app-task-input>
  </div>
  <div class="container-fluid controlAllTask">
    <div class="row">
      <div class="col-lg-4">
        <mat-checkbox
          class="example-margin"
          [(ngModel)]="checked"
          [(indeterminate)]="indeterminate"
          [labelPosition]="labelPosition"
          [disabled]="disabled"
          (click)="selectAllCheckbox(shoes)"
        >
          Selecte all task
        </mat-checkbox>
      </div>
      <div class="col-lg-4">
        Selected Task {{ shoes.selectedOptions.selected.length }}
      </div>
      <div class="col-lg-4">
        <button
          mat-raised-button
          color="accent"
          (click)="deleteAllSelectedTasks()"
        >
          Delete all selected task
        </button>
      </div>
    </div>
  </div>
  <mat-selection-list
    [multiple]="true"
    #shoes
    (selectionChange)="controlAllTaskSectionHideShow()"
    [(ngModel)]="value"
  >
    <div class="container-fluid">
      <mat-list-option *ngFor="let task of data; let i = index" [value]="task">
        <div class="row task">
          <div class="col-lg-6">
            {{ task.taskTitle }}
          </div>
          <div class="col-lg-6 timing">
            {{ task.timing }}

            <span class="deleteIcon">
              <mat-icon (click)="openDialog(task)">edit</mat-icon> &nbsp;&nbsp;

              <mat-icon (click)="deleteTaskDialog(task, i)">delete</mat-icon>
            </span>
          </div>
        </div>
      </mat-list-option>
    </div>
  </mat-selection-list>
</mat-card>
