<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>search</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-card>
  <div class="container-fluid">
    <app-task-input> </app-task-input>
  </div>
  <mat-selection-list [multiple]="false">
    <div class="container-fluid">
      <mat-list-option>
        <div class="row task">
          <div class="col-lg-6">This is task number One</div>
          <div class="col-lg-6 timing">
            19 august 2021

            <span class="deleteIcon">
              <mat-icon>edit</mat-icon> &nbsp;&nbsp;
              <mat-icon>delete</mat-icon>
            </span>
          </div>
        </div>
      </mat-list-option>

      <mat-list-option>
        <div class="row task">
          <div class="col-lg-6">This is task number One</div>
          <div class="col-lg-6 timing">
            19 august 2021

            <span class="deleteIcon">
              <mat-icon>edit</mat-icon> &nbsp;&nbsp;
              <mat-icon>delete</mat-icon>
            </span>
          </div>
        </div>
      </mat-list-option>
    </div>
  </mat-selection-list>
</mat-card>
