<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="example-spacer"></span>

  <mat-form-field
    appearance="outline"
    *ngIf="searchInputDisplay == true ? true : false"
  >
    <mat-label>Search Task</mat-label>
    <input
      matInput
      placeholder="Search Task"
      [(ngModel)]="searchTask"
      (keydown.enter)="searchTaskFromTasks()"
    />
    <mat-icon matSuffix (click)="openSearchInput()" style="cursor: pointer">
      close</mat-icon
    >
  </mat-form-field>

  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    (click)="openSearchInput()"
    *ngIf="searchInputDisplay ? false : true"
  >
    <mat-icon>search</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-card>
  <div class="container-fluid">
    <app-task-input (onEnter)="createTask($event)"> </app-task-input>
  </div>
  <mat-selection-list [multiple]="false">
    <div class="container-fluid">
      <mat-list-option *ngFor="let task of myData; let i = index">
        <div class="row task">
          <div class="col-lg-6">{{ task.taskTitle }}</div>
          <div class="col-lg-6 timing">
            {{ task.timing }}

            <span class="deleteIcon">
              <mat-icon (click)="openDialog(task)">edit</mat-icon> &nbsp;&nbsp;

              <mat-icon (click)="deleteTaskDialog(task)">delete</mat-icon>
            </span>
          </div>
        </div>
      </mat-list-option>
    </div>
  </mat-selection-list>

  {{ myDeleteTask | json }}
</mat-card>
