<div class="imojiesContainerCover">
  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label
      >Please {{ inputValue === "" ? "add" : "edit" }} your task</mat-label
    >
    <input
      matInput
      placeholder="Please Add Task"
      [(ngModel)]="inputValue"
      (keydown.enter)="addTask()"
    />

    <mat-icon matSuffix (click)="emojisHideShow()" style="cursor: pointer"
      >sentiment_very_satisfied</mat-icon
    >
  </mat-form-field>
  <div id="emojisContainer" *ngIf="emojisDisplay ? true : false">
    <emoji-mart
      (emojiClick)="addEmoji($event)"
      title="Pick your emoji…"
      emoji="point_up"
    ></emoji-mart>
  </div>
</div>
