<div class="imojiesContainerCover">
  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Please {{ task === "" ? "add" : "edit" }} your task</mat-label>
    <input
      matInput
      placeholder="Please Add Task"
      [(ngModel)]="inputValue"
      (keydown.enter)="getTask()"
    />

    <mat-icon matSuffix (click)="emojisHideShow()"
      >sentiment_very_satisfied</mat-icon
    >
  </mat-form-field>
  <div
    id="emojisContainer"
    [ngStyle]="{ display: emojisDisplay ? 'block' : 'none' }"
  >
    <emoji-mart
      (emojiClick)="addEmoji($event)"
      title="Pick your emoji…"
      emoji="point_up"
    ></emoji-mart>
  </div>
</div>

<!-- *ngIf="emojisDisplay ? true : false" -->
